<div>
    <nav>
        <ul class="menu">
            <li><a routerLink="ng-if">NgIf</a></li>
            <li><a [routerLink]="'ng-for'">NgFor</a></li>
            <li><a routerLink="ng-class">NgClass</a></li>
            <li><a routerLink="ng-style">NgStyle</a></li>
            <li><a (click)="openSubMenu()">Forms</a>
                <div *ngIf="subMenu" class="submenu"><ul>
                    <li><a routerLink="template-form" (click)="openSubMenu()">Template Form</a></li>
                    <li><a routerLink="reactive-form" (click)="openSubMenu()">Reactive Form</a></li>
                </ul></div>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>